.control,
fieldset 
{
    margin: 6px 0;
}

label 
{
    display: inline-block;
    width: 120px;
    vertical-align: top;
}

.required 
{
    color: red;
}

body 
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container
{
    padding: 15px;
}

SELECT
{
    padding: 5px;
}

input.date
{
    width:50px;
    padding: 5px;
}
